AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEBUG=app:*
PARSE_APP_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PARSE_MASTER_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PARSE_SERVER_URL=https://pegg.herokuapp.com/parse
SQUISHLE_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SQUISHLE_USERNAME=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=3003
